.container-fluid{
    background-color: white;
    height:70px;
    border: 1px solid black;
}
.spacing{
    word-spacing:1em;
}
/*   */
input{
    width:500px;
}

@media screen and (max-width:425px) {
    .container-fluid{
        .spacing{
            display: none;
        }
    }
      }